*{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body{
    background: #408080;
}

.left .left-top{
    background: rgb(5, 68, 104);
    position: fixed;
    top: 0;
    left: 0;
    width: 255px;
    height: 100%;
    padding: 20px 0;
    transition: all 0.5s ease;
}

.left .left-top .left-top-imgtxt{
    margin-bottom: 30px;
    text-align: center;
}

.left .left-top .left-top-imgtxt img{
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto;
}

.left .left-top .left-top-imgtxt h3{
    color: #ffffff;
    margin: 10px 0 5px;
}

.left .left-top .left-top-imgtxt p{
    color: rgb(206, 240, 253);
    font-size: 14px;
}


.left .left-top ul li a{
    display: block;
    padding: 13px 50px;
    border-bottom: 3px solid #10558d;
    color: rgb(241, 237, 237);
    font-size: 16px;
    position: relative;
}


.left .left-top ul li a:hover,
.left .left-top ul li a.active{
    color: #0c7db1;
    background:white;
    border-right: 2px solid rgb(5, 68, 104);
}


.left .left-top ul li a:hover:before,
.left .left-top ul li a.active:before{
    display: block;
}



.left .top{
    width: calc(100% - 255px);
    margin-left: 255px;
}

.left .top .top-navbar{
	display: flex;
 	justify-content: flex-end;
    background: rgb(1, 88, 104);
    height: 100px;
    display: flex;
    align-items: center;
    padding: 0 30px;

}

.left .top .top-navbar .title h1{
 font-family: 'Open Sans', sans-serif;
 color: rgb(206, 240, 253);
}

.center{
	margin-top: 40px;
	color: white;
}
.center h1{
	display:flex;
	justify-content: flex-start;
	margin-left: 300px;
}

.center .center-in{
	margin-top: 20px;
	border: 2px solid rgb(206, 240, 253);
	height: 400px;
	margin-left: 300px;
	margin-right: 60px;
	
}

.center .center-in p{
	margin-left: 4px;
	margin-top: 6px;
	

	
}




